<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.reversion.mapper.MemberMapper">

    <!--select문의 테이블 이름이 잘못되어 있었음.-->
    <select id="getMemberList" resultType="com.example.reversion.model.Member">
        select * from test_for_testuser
    </select>

    <select id="getMember" resultType="com.example.reversion.model.Member">
        select * from test_for_testuser limit 1
    </select>

    <insert id="createMember">
        insert into test_for_testuser(id, name, age, phone) values(#{id}, #{name}, #{age}, #{phone})
    </insert>

    <delete id="deleteMember">
        delete from test_for_testuser
        where id = #{id}
    </delete>

    <update id="updateMember">
        update test_for_testuser(id, name, age, phone) set id =#{id}, set name =#{name}, set age =#{age}, set phone =#{phone}
        where id = #{id}
    </update>
</mapper>