<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.reversion.mapper.MemberMapper_2">

    <select id="getMemberModelList" resultType="com.example.reversion.model.MemberModel">
        select * from membertable
    </select>

    <select id="getSelectedMemberModelList" resultType="com.example.reversion.model.MemberModel">
        select  * from membertable
        order by memberCodeNum asc
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getMemberModel" resultType="com.example.reversion.model.MemberModel">
        select * from membertable where memberCodeNum = #{memberCodeNum}
    </select>

    <insert id="createMemberModel" parameterType="com.example.reversion.model.MemberModel">
        insert into membertable(memberID, memberName, memberPhone, memberGender, memberBirth)
        values ( #{memberID}, #{memberName}, #{memberPhone}, #{memberGender}, #{memberBirth})
    </insert>

    <update id="updateMemberModel">
        update membertable set memberID =#{memberID}, memberName =#{memberName}, memberPhone =#{memberPhone}
                               where memberCodeNum = #{memberCodeNum}
    </update>

<!--    pk를 삭제하면 row를 삭제할 수 있다. -->
    <delete id="deleteMemberModel">
        delete from membertable
        where memberCodeNum = #{memberCodeNum}
    </delete>
</mapper>